<%= simple_form_for(@mail_tmp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: {class: 'span12'} %>
    <textarea class="span12 wysihtml5" id="mail_tmp_content" name="mail_tmp[content]" placeholder="内容放这里..." rows="30"><%= @mail_tmp.content %></textarea>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary btn-large', data: {disable_with: '正在提交...'} %>
  </div>
<% end %>
