<%= simple_form_for(@mail_tmp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: {class: 'input-block-level'} %>
    <%= f.input :content, input_html: {class: 'input-block-level ckeditor',  id: 'wysiwyg1', rows: 40} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary btn-large', data: {disable_with: '正在提交...'} %>
  </div>
<% end %>
