<%= page_header(t('mail_tmps.edit.title'), {'返回邮件通' => '/home/email', '邮件列表' => '/mail_items', '添加模板' => new_mail_tmp_path}) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_tmps.each do |mail_tmp| %>
      <tr>
        <td><%= mail_tmp.title %></td>
        <td><%= link_to '查看', mail_tmp %></td>
        <td><%= link_to '编辑', edit_mail_tmp_path(mail_tmp) %></td>
        <td><%= link_to '删除', mail_tmp, method: :delete, data: { confirm: '确定要删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
