<%= page_header(t('site_posts.index.title'), {'添加页面' => new_site_site_post_path(@site), '返回网站' => site_path(@site)}) %>

<h2><%= @site.title %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <th>关键词</th>
      <th colspan="4">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @site_posts.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.key_words %></td>
        
        <td><%= link_to '预览', get_short_url(@site, nil, item), target: '_blank' %></td>
        <td><%= link_to '编辑', edit_site_site_post_path(@site, item) %></td>
        <td><%= link_to '删除', item, method: :delete, data: { confirm: '确定要删除么?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @site_posts %>
<br>
