<%= page_header(t('site_posts.index.title'), {'添加' => new_site_site_post_path(@site), '返回' => site_path(@site), '返回网站通' => '/sites'}) %>

<h2><%= @site.title %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>编号</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @site_posts.each do |item| %>
      <tr>
        <td><%= link_to item.title, get_short_url(@site, @site.site_pages.find_by(short_id: 'post'), item), target: '_blank' %></td>

        <td>
          <%= link_to '编辑', edit_site_site_post_path(@site, item), class: 'btn btn-info' %> 
          <%= link_to '删除', item, class: 'btn btn-inverse', method: :delete, data: { confirm: '确定要删除么?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @site_posts %>
<br>
