<h1>Listing site_posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th>Title</th>
      <th>Content</th>
      <th>Key words</th>
      <th>Cate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_posts.each do |site_post| %>
      <tr>
        <td><%= site_post.user %></td>
        <td><%= site_post.site %></td>
        <td><%= site_post.title %></td>
        <td><%= site_post.content %></td>
        <td><%= site_post.key_words %></td>
        <td><%= site_post.cate_id %></td>
        <td><%= link_to 'Show', site_post %></td>
        <td><%= link_to 'Edit', edit_site_post_path(site_post) %></td>
        <td><%= link_to 'Destroy', site_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site post', new_site_post_path %>
