<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @site_post.user %>
</p>

<p>
  <strong>Site:</strong>
  <%= @site_post.site %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site_post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @site_post.content %>
</p>

<p>
  <strong>Key words:</strong>
  <%= @site_post.key_words %>
</p>

<p>
  <strong>Cate:</strong>
  <%= @site_post.cate_id %>
</p>

<%= link_to 'Edit', edit_site_post_path(@site_post) %> |
<%= link_to 'Back', site_posts_path %>
