<%= page_header(t('mail_items.show.title'), {'返回邮件通' => '/home/email', '列表' => '/mail_items', '添加' => new_mail_item_path, '添加模板' => new_mail_tmp_path}) %>

<div class='row-fluid'>
  <div class='span12 box box-nomargin'>
    <%= box_title(@mail_item.email) %>
    <div class='box-content'>
      <p>
        <strong>来源:</strong>
        <%= @mail_item.source_name %>
      </p>

      <p>
        <strong>姓名:</strong>
        <%= @mail_item.name %>
      </p>

      <p>
        <strong>城市:</strong>
        <%= @mail_item.city %>
      </p>

      <p>
        <strong>区域:</strong>
        <%= @mail_item.area %>
      </p>

      <p>
        <strong>描述:</strong>
        <%= @mail_item.description %>
      </p>

      <p>
        <strong>执行情况:</strong>
        <%= show_send_status(@mail_item.is_processed) %> 
      </p>

      <div class="pull-right">
        <%= link_to "修改", edit_mail_item_path(@mail_item), class: 'btn btn-primary' %>
        <%= link_to '删除', @mail_item, method: :delete, data: { confirm: '确定要删除?' }, class: 'btn btn-inverse' %>
      </div>
    </div>
  </div>
</div>
