<%= form_tag "/phone_send", :method => :post do |f| %>
  <%= hidden_field_tag(:sms_tmp_id, sms_log.sms_tmp_id) %>
  <%= hidden_field_tag(:phone_item_ids, sms_log.phone_item_id) %>
  <div class="alert alert-<%= ApplicationHelper::SMS_SEND_STATUS[sms_log.status][-1] %>">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <h4>
          <i class="icon-<%= sms_log.status == 0 ? 'ok' : 'info'%>-sign"></i>
          <%= ApplicationHelper::SMS_SEND_STATUS[sms_log.status][0] %> 
          <span class="pull-right">
          (<%= sms_log.created_at.to_s(:db)%>)
             <%= submit_tag '重新发送', class: 'btn btn-white', data: { disable_with: '正在提交...'}  %>
          </span>
      </h4>
      <%= sms_log.sms_tmp.content %>
  </div>
<% end %>
