<%= page_header(t('assets.index.title'), {'添加资源' => new_asset_path, '控制面板' => '/'}) %>

<div class="row-fluid">
  <div class="span12 box">
      <div class="box-header">
        <div class="title">
        </div>
        <div class="actions">
            <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
            </a>
        </div>
      </div>
      <div class="box-content">
        <div class="btn-group">
          <a href="/assets?asset_type=image">
            <button class="btn">
              <i class="icon-align-left"></i> 图片
            </button>
          </a>
          <a href="/assets?asset_type=file">
            <button class="btn">
              <i class="icon-align-left"></i> 文件
            </button>
          </a>
          <a href="/assets?asset_type=video">
            <button class="btn">
              <i class="icon-align-left"></i> 视频
            </button>
          </a>
        </div>
      </div>
  </div>
</div>

<% if params[:asset_type].nil? || params[:asset_type] == 'image' %>
  <div class='row-fluid'>
    <div class='span12 box box-transparent'>
      <div class='row-fluid'>
        <% @assets.each do |asset| %>
          <div class='span2 box-quick-link' style="margin-bottom: 10px;">
            <%= link_to asset_path(asset) do %>
              <div class='header'>
                <div class='' style="height: 60px; overflow: hidden;">
                  <%= image_tag qiniu_image_path(asset.asset.url, :thumbnail => '80x80>', :quality => 80) %>
                </div>
              </div>
              <div class='content'><%= asset.asset_file_name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>资源类型</th>
        <th>资源名称</th>
        <th>公共路径</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><%= asset.asset_type %></td>
          <td><%= asset.asset_file_name %></td>
          <td><%= link_to asset.asset.url, asset.asset.url, target: '_blank' %></td>
          <td><%= link_to '查看', asset %></td>
          <td><%= link_to '删除', asset, method: :delete, data: { confirm: '确定要删除?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @assets %>
<br>
