<p id="notice"><%= notice %></p>


<%= link_to  @asset.asset.url,  @asset.asset.url %>
|
<%= qiniu_image_tag @asset.asset.url, :thumbnail => '300x300>', :quality => 80 %>
or
<%= image_tag qiniu_image_path(@asset.asset.url, :thumbnail => '300x300>', :quality => 80) %>
<p>
  <strong>Bucket:</strong>
  <%= @asset.bucket %>
</p>




<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
