<%= page_header(t('site_pages.index.title'), {'添加页面' => new_site_page_path}) %>

<% @sites.each do |site| %>
  <h2><%= site.title %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>唯一标示</th>
        <th>标题</th>
        <th colspan="4">操作</th>
      </tr>
    </thead>

    <tbody>
      <% site.site_pages.each do |item| %>
        <tr>
          <td><%= item.short_id %></td>
          <td><%= item.title %></td>
          
          <td><%= link_to '预览', get_short_url(item.site, item), target: '_blank' %></td>
          <td><%= link_to '编辑', edit_site_site_page_path(site, item) %></td>
          <td><%= link_to '删除', item, method: :delete, data: { confirm: '确定要删除么?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
