<hr class='hr-double'>
<div class='row-fluid'>
    <div class='span12 box'>
        <div class='box-header green-background'>
            <div class='title'>网站页面列表</div>
        </div>
        <div class='box-content'>
            <div class='row-fluid'>
                <div class='span12'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs nav-tabs-centered'>
                            <% @sites.each_with_index do |site, index| %>
                                <li <%= index == 0 ? "class='active'" : ''%>>
                                    <a data-toggle='tab' href='#Ta<%= index %>a'>
                                        <i class='icon-indent-left'></i>
                                        <span class='label label-<%= rand_flag %>'><%= site.site_pages.size %></span>
                                        <%= site.title %>
                                    </a>
                                </li>
                            <% end %>
                        </ul>
                        <div class='tab-content'>
                            <% @sites.each_with_index do |site, index| %>
                                <div class='tab-pane <%= index == 0 ? "active" : ''%>' id='Ta<%= index %>a'>
                                    
                                    <span class='label label-<%= rand_flag %>'><%= site.site_pages.size %></span>
                                    <%= site.title %>
                                
                                </div>
                            <% end %>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
