<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :site_name %>
    <%= f.input :site_title %>
    <%= f.input :domain %>
    <%= f.input :theme_id %>
    <%= f.input :head %>
    <%= f.input :header %>
    <%= f.input :body %>
    <%= f.input :footer %>
    <%= f.input :is_published %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
