<%= page_header(t('sites.index.title'), {'浏览模板' => '/home/theme', '添加网站' => new_site_path(@site)}) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>唯一标示</th>
      <th>网站标题</th>
      <th>域名</th>
      <th>模版</th>
      <th><div class="text-right">操作</div></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.short_id %></td>
        <td><%= site.title %></td>
        <td><%= site.domain %></td>
        <td><%= Theme.find_by(id: site.theme_id).try(:name) %></td>
        <td>
          <div class="text-right">
            <%= link_to '预览', get_short_url(site), target: '_blank', class: 'btn btn-primary' %>
            <%= link_to '管理', site_path(site), class: 'btn btn-warning' %>
            <%= link_to '编辑', edit_site_path(site), class: 'btn btn-info' %>
            <%= link_to '删除', site, method: :delete, data: { confirm: '确定要删除么?' }, class: 'btn btn-inverse' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @sites %>

