<h1>Listing user_details</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Contact name</th>
      <th>Id card</th>
      <th>Mobile phone</th>
      <th>Tel phone</th>
      <th>Qq</th>
      <th>Email</th>
      <th>Website</th>
      <th>Region</th>
      <th>City</th>
      <th>District</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Company name</th>
      <th>Company nickname</th>
      <th>Corporator</th>
      <th>Company reg no</th>
      <th>Company keywords</th>
      <th>Company description</th>
      <th>Fu gmail name</th>
      <th>Fu gmail pwd</th>
      <th>Fu qmail name</th>
      <th>Fu qmail pwd</th>
      <th>Fu user name</th>
      <th>Fu user pwd</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_details.each do |user_detail| %>
      <tr>
        <td><%= user_detail.user %></td>
        <td><%= user_detail.contact_name %></td>
        <td><%= user_detail.id_card %></td>
        <td><%= user_detail.mobile_phone %></td>
        <td><%= user_detail.tel_phone %></td>
        <td><%= user_detail.qq %></td>
        <td><%= user_detail.email %></td>
        <td><%= user_detail.website %></td>
        <td><%= user_detail.region %></td>
        <td><%= user_detail.city %></td>
        <td><%= user_detail.district %></td>
        <td><%= user_detail.address %></td>
        <td><%= user_detail.latitude %></td>
        <td><%= user_detail.longitude %></td>
        <td><%= user_detail.company_name %></td>
        <td><%= user_detail.company_nickname %></td>
        <td><%= user_detail.corporator %></td>
        <td><%= user_detail.company_reg_no %></td>
        <td><%= user_detail.company_keywords %></td>
        <td><%= user_detail.company_description %></td>
        <td><%= user_detail.fu_gmail_name %></td>
        <td><%= user_detail.fu_gmail_pwd %></td>
        <td><%= user_detail.fu_qmail_name %></td>
        <td><%= user_detail.fu_qmail_pwd %></td>
        <td><%= user_detail.fu_user_name %></td>
        <td><%= user_detail.fu_user_pwd %></td>
        <td><%= link_to 'Show', user_detail %></td>
        <td><%= link_to 'Edit', edit_user_detail_path(user_detail) %></td>
        <td><%= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User detail', new_user_detail_path %>
