<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_detail.user %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @user_detail.contact_name %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user_detail.id_card %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @user_detail.mobile_phone %>
</p>

<p>
  <strong>Tel phone:</strong>
  <%= @user_detail.tel_phone %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @user_detail.qq %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_detail.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user_detail.website %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user_detail.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_detail.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @user_detail.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_detail.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user_detail.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user_detail.longitude %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @user_detail.company_name %>
</p>

<p>
  <strong>Company nickname:</strong>
  <%= @user_detail.company_nickname %>
</p>

<p>
  <strong>Corporator:</strong>
  <%= @user_detail.corporator %>
</p>

<p>
  <strong>Company reg no:</strong>
  <%= @user_detail.company_reg_no %>
</p>

<p>
  <strong>Company keywords:</strong>
  <%= @user_detail.company_keywords %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @user_detail.company_description %>
</p>

<p>
  <strong>Fu gmail name:</strong>
  <%= @user_detail.fu_gmail_name %>
</p>

<p>
  <strong>Fu gmail pwd:</strong>
  <%= @user_detail.fu_gmail_pwd %>
</p>

<p>
  <strong>Fu qmail name:</strong>
  <%= @user_detail.fu_qmail_name %>
</p>

<p>
  <strong>Fu qmail pwd:</strong>
  <%= @user_detail.fu_qmail_pwd %>
</p>

<p>
  <strong>Fu user name:</strong>
  <%= @user_detail.fu_user_name %>
</p>

<p>
  <strong>Fu user pwd:</strong>
  <%= @user_detail.fu_user_pwd %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
