<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title><%= yield(:title) %></title>
    <meta name="keywords" content= "<%= yield(:meta_keywords) %>">
    <meta name="description" content="<%= yield(:meta_description) %>">
    <!--include common global css: font-amazon -->
    <%= stylesheet_link_tag "s" %>
    <!--include common js-->
    <%= javascript_include_tag "jquery", "jquery.turbolinks" %>

    <!--include site theme css/js-->
    <%= raw @site.head %>
    
    <!--bugfix turbolinks: turbolinks must behand jquery -->
    <%= javascript_include_tag "turbolinks" %>
    <%= csrf_meta_tags %>
  </head>

  <%# maybe some theme's body has special style like <body data-offset='64' onLoad="$.stellar();"> 
    # if body is special, will put <body> tag into _header.html
  %>
  <% if @site.header =~ /^\s*<body/i %>
    <%= raw liquidize(@site.header, 
      'site' => @site, 
      'page' => @site_page, 
      'comment' => @site_comment, 
      'authenticity_token' => session[:_csrf_token], 
      'redirect_url' => request.original_url
    )%>
  <% else %>
    <body class="theme">
    <!--if has @site_page the liqu {{page.title}} will be render, otherwise will be set null-->
    <%= raw liquidize(@site.header, 
      'site' => @site, 
      'page' => @site_page, 
      'comment' => @site_comment, 
      'authenticity_token' => session[:_csrf_token], 
      'redirect_url' => request.original_url
    )%>
  <% end %>

		<%= render 'layouts/messages' %>
		<%= yield %>

	  <%= raw liquidize(@site.footer, 
      'site' => @site, 
      'page' => @site_page, 
      'comment' => @site_comment, 
      'authenticity_token' => session[:_csrf_token], 
      'redirect_url' => request.original_url
    )%>

  </body>
</html>


