<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title><%= yield(:title) %></title>
    <meta name="keywords" content= "<%= yield(:meta_keywords) %>">
    <meta name="description" content="<%= yield(:meta_description) %>">
    <!--include common global css-->
    <%= stylesheet_link_tag "s" %>
    <!--include common js-->
    <%= javascript_include_tag "jquery" %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!--include site theme css/js-->
    <%= raw @site.head %>

    <%= csrf_meta_tags %>
  </head>
  <body class="theme">
    <!--if has @site_page the liqu {{page.title}} will be render, otherwise will be set null-->
    <%= raw liquidize(@site.header, 'site' => @site, 'page' => @site_page )%>

		<%= render 'layouts/messages' %>
		<%= yield %>

	  <%= raw liquidize(@site.footer, 'site' => @site, 'page' => @site_page )%>
  </body>
</html>


